body {
  background-color: #ededed;
}

#site-header {
  width: 100%;
  height: 75px;
  background-color: white;
}

#site-header .container {
  display: flex;
}

#home {
  color: black;
  height: 75px;
  display: flex;
  align-items: center;
}

#home:hover {
  text-decoration: none;
}

#home img {
  height: 75px;
}

#home span {
  font-size: 40px;
  font-weight: 200;
}

#site-header .container nav {
  flex: 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#site-header .container nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
}

#site-header .container nav ul li {
  display: inline-block;
  padding: 15px;
}

#site-header .container nav ul li:hover {
  background-color: #fce910;
  transition: all 0.1s linear;
  /* border-radius: 40px; */
}

#site-header .container nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
}

#site-header .container nav ul li:hover a {
  /* color: white; */
}

#site-header .container nav ul li.active {
  /* background-color: #f7c331; */
  background-color: #fce910;
  color: white;
  border: 1px solid;
  border-radius: 40px;
}

@media (max-width: 767px) {
  #site-header .container nav ul {
    display: none;
  }
}

#splash-header {
  width: 100%;
  /* background-color: rgb(147, 212, 204);#77C9D4; */
  /* background-color: #009eae; */
  min-height: 500px;
}

#splash-header .container {
  display: flex;
  /* flex-direction: row-reverse; */
  min-height: 178px;
}

#particles-js {
  z-index: -1;
  position: absolute;
  top: 75px;
  height: 500px;
  width: 100%;
  /* background-image: linear-gradient(to right, #009eae , #FCE910); */
}

.particles-js-canvas-el {
  z-index: -1;
  position: relative;
  top: -220px;
  /* height: 297px;
 width: 100%;  */
  /* background-color: #009eae; */
  background-image: linear-gradient(to right, #009eae, #fce910);
}

#splash-header .container .teaser {
  display: flex;
  align-items: center;
  margin-left: 77px;
}

#splash-header .container .teaser h1 {
  font-weight: 200;
  color: white;
  text-transform: uppercase;
  /* width: 200px; */
}

#splash-header .container .teaser h1 em {
  font-weight: 900;
  text-shadow: 10px 2px 2px #f1774f;
  font-style: normal;
}

#splash-header .container .teaser img {
  position: relative;
  left: -150px;
  top: -22px;
  animation: MoveUpDown 10s ease-in-out infinite;
}

@media (max-width: 767px) {
  #splash-header .container .teaser {
    margin-left: 0.5em;
  }
}

/* #splash-header .container img {
  width: 200px;
  float: right;
  margin-top: -23px;
  animation: MoveUpDown 10s ease-in-out infinite;
} */

@keyframes MoveUpDown {
  0%,
  100% {
    /* margin-top: -23px; */
    transform: translateY(-5px);
  }
  50% {
    /* margin-top: -13px; */
    transform: translateY(5px);
  }
}

#content {
  margin-top: -270px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 20px;
}

#content h1 {
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 10px;
  /* border-bottom: 1px solid #cecece; */
  padding-bottom: 10px;
}

/* .jumbotron {
  margin-top: 20px;
}

.jumbotron .lead {
  font-size: 2.8em;
  font-weight: 200;
  text-transform: capitalize;
  font-style: italic;
} */

#leads {
  display: flex;
  flex-wrap: wrap;
}

#leads .lead {
  font-size: 1.5em;
}

#leads .first {
  width: 100%;
  margin-bottom: 2em;
}

#leads .second {
  width: 48%;
  /* margin-right: 1em; */
}

#leads .third {
  width: 48%;
  margin-left: 1em;
}

@media (max-width: 767px) {
  #leads .first {
    width: 100%;
    margin-bottom: 0;
  }
  
  #leads .second {
    width: 100%;
    /* margin-right: 1em; */
  }
  
  #leads .third {
    width: 100%;
    margin-left: 1em;
  }
}

#leads h1 svg {
  /* font-size: 1em; */
  margin-right: 20px;
  color: #f1774f;
}

#content .tabbable {
  font-size: 1.5em;
  font-weight: 200;
}

#content .tabbable h3 {
  font-weight: 400;
}

#content .tabbable code {
  font-size: 1.5em;
}

#footer {
  background-color: #a5a5af;
  min-height: 150px;
}
