body {
  background-color: #ededed;
}

#site-header {
  width: 100%;
  height: 75px;
  background-color: white;
}

#site-header .container {
  display: flex;
}

#home {
  color: black;
  height: 75px;
  display: flex;
  align-items: center;
}

#home:hover {
  text-decoration: none;
}

#home img {
  height: 75px;
}

#home span {
  font-size: 40px;
  font-weight: 200;
}

#site-header .container nav {
  flex: 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#site-header .container nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
}

#site-header .container nav ul li {
  display: inline-block;
  padding: 15px;
}

#site-header .container nav ul li:hover {
  background-color: #FCE910;
  transition: all 0.1s linear;
  /* border-radius: 40px; */
}

#site-header .container nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
}

#site-header .container nav ul li:hover a {
  /* color: white; */
}

#site-header .container nav ul li.active {
  /* background-color: #f7c331; */
  background-color: #FCE910;
  color: white;
  border: 1px solid;
  border-radius: 40px;
}

#splash-header {
  width: 100%;
  /* background-color: rgb(147, 212, 204);#77C9D4; */
  background-color: #009eae;
  min-height: 296px;
}

#splash-header .container {
  display: flex;
  /* flex-direction: row-reverse; */
  min-height: 178px;
}

#splash-header .container .teaser {
  display: flex;
  align-items: center;
}

#splash-header .container .teaser h1 {
  font-weight: 200;
  color: white;
  text-transform: uppercase;
  /* width: 200px; */
}

#splash-header .container .teaser img {
  width: 250px;
  /* float: right;
  /* margin-top: -23px; */
  /* animation: MoveUpDown 10s ease-in-out infinite;  */

}

/* #splash-header .container img {
  width: 200px;
  float: right;
  margin-top: -23px;
  animation: MoveUpDown 10s ease-in-out infinite;
} */

@keyframes MoveUpDown {
  0%, 100% {
    /* margin-top: -23px; */
    transform: translateY(-10px);
  }
  50% {
    /* margin-top: -13px; */
    transform: translateY(10px);
  }
}

#content {
  margin-top: -130px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;;
  margin-bottom: 50px;
  padding: 20px;
}

#content h1 {
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
}

.jumbotron {
  margin-top: 20px;
}

.jumbotron .lead {
  font-size: 2.8em;
  font-weight: 200;
  text-transform: capitalize;
  font-style: italic;
}

#footer {
  background-color:#A5A5AF;
  min-height: 150px;
}
